<ul class="clearfix">
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Akah'}}"  title="Click to see more products from Akah">
            <img src="{{media url="wysiwyg/akah.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Dogtra'}}" title="Click to see more products from Dogtra">
            <img src="{{media url="wysiwyg/dogtra.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Drinkwell'}}" title="Click to see more products from Drinkwell">
            <img src="{{media url="wysiwyg/drinkwell.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=DT+Systems'}}" title="Click to see more products from DT Systems">
            <img src="{{media url="wysiwyg/infortis/brands/dt_systems.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Evenflo'}}" title="Click to see more products from Evenflo">
            <img src="{{media url="wysiwyg/infortis/brands/evenflo.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Garmin'}}" title="Click to see more products from Garmin">
            <img src="{{media url="wysiwyg/infortis/brands/garmin.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Grain+Valley'}}" title="Click to see more products from Grain Valley">
            <img src="{{media url="wysiwyg/grain_valley.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Innotek'}}" title="Click to see more products from Innotek">
            <img src="{{media url="wysiwyg/innotek.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Lucky+Dog'}}" title="Click to see more products from Lucky Dog">
            <img src="{{media url="wysiwyg/lucky_dog.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Multi+Vet'}}" title="Click to see more products from Multi Vet">
            <img src="{{media url="wysiwyg/multi_vet.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a hhref="{{store url='catalogsearch/result/?q=Petpal+Training+Systems'}}" title="Click to see more products from Petpal Training Systems">
            <img src="{{media url="wysiwyg/petpal_training_systems.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=PetSafe'}}" title="Click to see more products from PetSafe">
            <img src="{{media url="wysiwyg/petsafe.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=SportDog'}}" title="Click to see more products from SportDog">
            <img src="{{media url="wysiwyg/sportdog.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Staywell'}}" title="Click to see more products from Staywell">
            <img src="{{media url="wysiwyg/staywell.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=Tracker'}}" title="Click to see more products from Tracker">
            <img src="{{media url="wysiwyg/tracker.png"}}" alt="" />
        </a>
    </li>
    <li class="item" style="width: 176px; float: left; display: block;">
        <a href="{{store url='catalogsearch/result/?q=TriTronics'}}" title="Click to see more products from TriTronics">
            <img src="{{media url="wysiwyg/tritronics.png"}}" alt="" />
        </a>
    </li>
</ul>